Checks: >
  *,
  clang-analyzer-*,
  -*compat*,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -android-cloexec-socket,
  -bugprone-easily-swappable-parameters,
  -clang-diagnostic-pragma-once-outside-header,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -google-build-using-namespace,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -llvm-include-order,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-identifier-length