<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Trivia" Description="Code analysis rules for Trivia.vcxproj." ToolsVersion="17.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26409" Action="None" />
    <Rule Id="C26429" Action="None" />
    <Rule Id="C26431" Action="None" />
    <Rule Id="C26445" Action="None" />
    <Rule Id="C26446" Action="None" />
    <Rule Id="C26448" Action="None" />
    <Rule Id="C26449" Action="None" />
    <Rule Id="C26458" Action="None" />
    <Rule Id="C26459" Action="None" />
    <Rule Id="C26472" Action="None" />
    <Rule Id="C26490" Action="None" />
    <Rule Id="C26814" Action="Error" />
    <Rule Id="C26821" Action="None" />
  </Rules>
</RuleSet>